# Dependencies
node_modules/

# Capacitor
www/

# Android build artifacts
android/app/build/
android/.gradle/
android/build/
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab

# IDE
.idea/
*.iml

# Local environment
.env
.env.local
